body {
  background: #343a40;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 10;
}
.header:after {
  content: '';
  position: absolute;
  width: 250vw;
  height: 280px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(73, 80, 87, 0.9);
  box-shadow: 0 0.5rem 0.5rem rgb(33 37 41 / 40%);
  top: -220px;
  left: 50%;
  transform: translateX(-50%);
}
.header h1 {
  z-index: 1;
  color: #343a40;
  text-shadow: 1px 1px rgb(255 255 255 / 20%), -1px -1px rgb(0 0 0 / 40%);
}

.modal-backdrop {
  opacity: 0.5;
}

.form-label {
  font-weight: bold;
}

.oi-chevron-bottom {
  pointer-events: none;
  transition: transform 0.23s;
  font-size: 1rem;
}
.open .oi-chevron-bottom {
  transform: rotate(180deg);
}

.checkedList,
.uncheckedList {
  opacity: 0;
  max-height: 0;
  transform: scaleY(0);
  overflow: hidden;
  transform-origin: center top;
  transition: 0.2s;
  padding-top: 0;
  padding-bottom: 0 !important;
}

.open .checkedList,
.open .uncheckedList {
  opacity: 1;
  height: auto;
  max-height: 1000px;
  transform: scaleY(1);
  padding-top: 1.5rem;
  padding-bottom: 0.5rem !important;
}
